/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.container-small {
    width: 65%;
    margin: 0 auto;
}

.container-large {
    width: 85%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.btn {
    color: white;
    background-color: #0061ff;
    padding: 8px 20px;
}

.col-text p {
    margin-bottom: 40px;
}

/* HEADER */
header {
    background-color: white;
    padding: 30px 20px;
}

nav {
    justify-content: space-between;
    align-items: center;
}

/* Menu Left */
nav ul.menu-left li {
    margin-right: 45px;
    line-height: 30px;
}

nav ul.menu-left .logo img {
    width: 140px;
}


/* Menu Right */
nav ul.menu-right li {
    margin-left: 45px;
}

/* MAIN */

/* SECTION - Jumbotron */
#jumbotron {
    padding-top: 100px;
    background-color: #b4d0e7;
}

#jumbotron h1 {
    font-size: 93px;
    margin-bottom: 50px;
}

#jumbotron .flex-container {
    justify-content: space-between;
    height: 500px;
}

/* Jumbotron: Col-Text */
#jumbotron .col-text {
    width: 30%;
}

#jumbotron .col-text .cta {
    margin-top: 20px;
    font-size: 16px;
}

#jumbotron .col-text .cta div {
    margin-top: 20px;
    font-size: 15px;
}

#jumbotron .col-text .arrow-down {
    font-size: 50px;
    margin-top: 35px;
}

/* Jumbotron: Col-Image */
#jumbotron .col-image img {
    width: 1080px;
}

/* SECTION - Subcription Plans */
#sub-plans {
    background-color: pink;
    height: 300px;
}

/* FOOTER */